<div class="d-flex justify-content-end p-r-20">
    <p class="p-paginador my-auto">Elementos por página</p>
    <select (change)="pageIndex = 0; loadDataPaginator()" ([ngModel])="pageSize" (ngModelChange)="onChangeSelection($event)" class="form-control form-control-line-filter" id="filterState">
      <option *ngFor="let elementNumber of pageSizeOptions" [value]="elementNumber">{{elementNumber}}
      </option>
  </select>
    <img class="h-20 my-auto pointer" src="assets/icons/regular/chevron-left.svg" alt="" (click)="changePagePaginator('previous')">
    <p class="p-paginador2 my-auto">{{paginatorRegistersNumber}}</p>
    <img class="h-20 my-auto pointer" src="assets/icons/regular/chevron-right.svg" alt="" (click)="changePagePaginator('next')">
</div>