<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Empleados</h3>
        </div>
        <div class="col-md-7 text-right">
            <app-paginator *ngIf="loadPaginator" [length]="totalCountPag" [pageSize]="pageSize"
                (page)="changePage($event)">
            </app-paginator>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="no-border-top p-1">
                            <input class="form-control form-control-line-filter" maxlength="20" type="text" />
                        </th>
                        <th class="no-border-top p-1">
                            <select class="form-control form-control-line-filter form-select">
                                <option disabled selected></option>
                                <option *ngFor="let idType of idTypes" [value]="idType">{{idType}}</option>
                            </select>
                        </th>
                        <th class="no-border-top p-1">
                            <input class="form-control form-control-line-filter" maxlength="20" type="text" />
                        </th>
                        <th class="no-border-top p-1">
                            <input class="form-control form-control-line-filter" maxlength="300" type="text" />
                        </th>
                        <th class="no-border-top p-1">
                            <select class="form-control form-control-line-filter form-select">
                                <option disabled selected></option>
                                <option *ngFor="let jobCountry of jobsCountry" [value]="jobCountry">{{jobCountry}}
                                </option>
                            </select>
                        </th>
                        <th class="no-border-top p-1">
                            <select class="form-control form-control-line-filter form-select">
                                <option disabled selected></option>
                                <option *ngFor="let area of areas" [value]="area">{{area}}</option>
                            </select>
                        </th>
                        <th class="no-border-top p-1">
                            <input class="form-control form-control-line-filter" maxlength="300" type="text"/>
                        </th>
                        <th class="no-border-top p-1">
                            <select class="form-control form-control-line-filter form-select">
                                <option disabled selected></option>
                                <option *ngFor="let state of states" [value]="state">{{state}}</option>
                            </select>
                        </th>
                        <td class="no-border-top p-1">
                            <img src="assets/icons/solid/search.svg" class="pointer m-l-20 w-24" alt="buscar">
                            <img src="assets/icons/solid/broom.svg" alt="eliminar" class="m-l-20 w-24 pointer">
                        </td>
                    </tr>
                    <tr>
                        <th>Numero ID</th>
                        <th>Tipo ID</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Pais Empleo</th>
                        <th>Area</th>
                        <th>Fecha Ingreso</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td>{{employee.idNumber}}</td>
                        <td>{{employee.idType}}</td>
                        <td>{{employee.firstName}} {{employee.otherNames}} {{employee.firstLastName}}
                            {{employee.secondLastName}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.jobCountry}}</td>
                        <td>{{employee.area}}</td>
                        <td>{{employee.admissionDate}}</td>
                        <td>{{employee.state}}</td>
                        <td>
                            <img (click)="editEmployee(employee)" class="pointer m-l-20" data-toggle="tooltip"
                                data-placement="right" title="" data-original-title="" src="assets/icons/solid/edit.svg"
                                alt="">
                            <img (click)="modal.open(modalConf); copyEmployee(employee)" class="pointer"
                                src="assets/icons/solid/times-circle.svg" alt="eliminar">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #modalConf let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Eliminar empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¿Está seguro de que desea eliminar el empleado?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteEmployee(); modal.close()">Sí</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">No</button>
    </div>
</ng-template>