<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Registrar Empleado</h3>
        </div>
        <div class="card-body">
            <form action="/send.php" [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
                <div class="tab-content row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Primer apellido: </label>
                            <input type="text" class="form-control" maxlength="20" formControlName="firstLastName">
                            <div *ngIf="submitted && f.firstLastName.errors" class="text-danger">
                                <div *ngIf="f.firstLastName.errors.required">
                                    {{validationMessages.firstLastName.required}}
                                </div>
                                <div *ngIf="f.firstLastName.errors.pattern">
                                    {{validationMessages.firstLastName.pattern}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Segundo apellido: </label>
                            <input type="text" class="form-control" maxlength="20" formControlName="secondLastName">
                            <div *ngIf="submitted && f.secondLastName.errors" class="text-danger">
                                <div *ngIf="f.secondLastName.errors.required">
                                    {{validationMessages.secondLastName.required}}
                                </div>
                                <div *ngIf="f.secondLastName.errors.pattern">
                                    {{validationMessages.secondLastName.pattern}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Primer nombre: </label>
                            <input type="text" class="form-control" maxlength="20" formControlName="firstName">
                            <div *ngIf="submitted && f.firstName.errors" class="text-danger">
                                <div *ngIf="f.firstName.errors.required">
                                    {{validationMessages.firstName.required}}
                                </div>
                                <div *ngIf="f.firstName.errors.pattern">
                                    {{validationMessages.firstName.pattern}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Otros nombres: </label>
                            <input type="text" class="form-control" maxlength="50" formControlName="otherNames">
                            <div *ngIf="submitted && f.otherNames.errors" class="text-danger">
                                <div *ngIf="f.otherNames.errors.pattern">
                                    {{validationMessages.otherNames.pattern}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">País del empleo: </label>
                            <select class="form-control form-select" ([ngModel])="jobCountrySelected"
                                formControlName="jobCountry">
                                <option *ngFor="let jobCountry of jobsCountry" [value]="jobCountry">{{jobCountry}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.jobCountry.errors" class="text-danger">
                                <div *ngIf="f.jobCountry.errors.required">
                                    {{validationMessages.jobCountry.required}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Tipo de identificación: </label>
                            <select class="form-control form-select" ([ngModel])="idTypeSelected"
                                formControlName="idType">
                                <option *ngFor="let idType of idTypes" [value]="idType">{{idType}}</option>
                            </select>
                            <div *ngIf="submitted && f.idType.errors" class="text-danger">
                                <div *ngIf="f.idType.errors.required">
                                    {{validationMessages.idType.required}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Número de identificación: </label>
                            <input type="text" class="form-control" maxlength="20" formControlName="idNumber">
                            <div *ngIf="submitted && f.idNumber.errors" class="text-danger">
                                <div *ngIf="f.idNumber.errors.required">
                                    {{validationMessages.idNumber.required}}
                                </div>
                                <div *ngIf="f.idNumber.errors.pattern">
                                    {{validationMessages.idNumber.pattern}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Correo electrónico: </label>
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="">Fecha de ingreso: </label>
                            <input type="date" class="form-control" formControlName="admissionDate" min="{{dateMin | date:'yyyy-MM-dd'}}" max="{{date | date:'yyyy-MM-dd'}}">
                            <div *ngIf="submitted && f.admissionDate.errors" class="text-danger">
                                <div *ngIf="f.admissionDate.errors.required">
                                    {{validationMessages.admissionDate.required}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Área: </label>
                            <select class="form-control form-select" ([ngModel])="areaSelected" formControlName="area">
                                <option *ngFor="let area of areas" [value]="area">{{area}}</option>
                            </select>
                            <div *ngIf="submitted && f.area.errors" class="text-danger">
                                <div *ngIf="f.area.errors.required">
                                    {{validationMessages.area.required}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Estado: </label>
                            <input type="text" class="form-control" formControlName="state">
                        </div>
                        <div class="form-group">
                            <label for="">Fecha y hora de registro: </label>
                            <input type="text" class="form-control" formControlName="creationDate">
                        </div>
                        <div class="form-group">
                            <label for="">Fecha y hora de modificación: </label>
                            <input type="text" class="form-control" formControlName="modificationDate">
                        </div>
                    </div>
                </div>

                <button class="btn btn-danger" style="margin-top: 10px">Guardar</button>
            </form>
        </div>
    </div>
</div>