<form [formGroup]="filterForm">
  <div class="row">
    <div class="col-md-5">
      <select class="form-control form-control-line-filter" formControlName="filterType" name="filterType"
        id="filterType">
        <option disabled value=""> Selecciona filtro</option>
        <option *ngFor="let optionFilter of optionsFilter" [value]="optionFilter">
          {{optionFilter}}</option>
      </select>
    </div>
    <div class="col-md-5">
      <input class="form-control form-control-line-filter" formControlName="filterValue"
        appValidationType="Alphanumeric" maxlength="200" id="filterName" type="text" name="filterValue"
        placeholder="Filtro" />
    </div>
    <div class="col-md-2">
      <img src="assets/icons/solid/search.svg" alt="buscar" (click)="filter()" id="filterButton"
        class="size_image_filter pointer" /> &nbsp;
      <img src="assets/icons/solid/undo.svg" alt="eliminar" (click)="deleteFilter()" id="filterDelete"
        class="size_image_filter pointer" />
    </div>
  </div>
  <div *ngIf="submittedFilter && ff.filterType.errors" class="alert alert-warning" role="alert">
    <div *ngIf="ff.filterType.errors.required">{{validationMessages.filterType.required}}</div>
  </div>
</form>